torch>=2.5
torchvision
torchaudio
timm

huggingface_hub
safetensors
matplotlib
seaborn
albumentations
tensorboard


opencv-python-headless
imagehash
scikit-learn
scipy
pandas
numpy
tqdm
grad-cam
thop
onnx
Pillow
